.container {
  display: flex;
  flex-flow: column;
}
.label {
  margin: 0 auto;
}
.secondaryLabel {
  font-size: 1.5em;
  line-height: 1.8em;
  margin: 5px;
}
.canvas-container {
  flex-shrink: 1;
}

.canvas {
  margin: 5px;
}

.box {
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px auto;
}
